*.pyc
# *.png
*.pickle
*.pkl
*.tsv
__pycache__
*.py[cod]
*$py.class
*.so
.Python
build/
# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

.pytype/
cython_debug/


sh_scripts
processed
log
datasets