*.pyc
# *.png
*.pickle
*.pkl
*.tsv
__pycache__
*.py[cod]
*$py.class
*.so
.Python
build/
# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

.pytype/
cython_debug/

data/processed/ml-100k/ml_100k_main1_data.pickle
data/processed/ml-100k/ml_100k_main2_data.pickle
experiments
train_sh_scripts
raw
err
jupyter
tmp
ml-1m
src
*.out
*.err
*.txt
runs